h3 LIST OF DOGS

table.table.table-striped
	thead
		th Name
		th Age
		th Sex
		th Photo
	tbody
		tr(ng-repeat='dog in dogs')
			td: a.btn.btn-info.btn-xs(ui-sref='dogs.show({dogId: dog._id})') Show
			td: a.btn.btn-info.btn-xs(ui-sref='dogs.edit({dogId: dog._id})') Edit
			td: button.btn.btn-danger.btn-xs(ng-click='destroy(dog)') Delete
			td {{dog.name}}
			td {{dog.age}}
			td {{dog.sex}}
			td: img(ng-show='dog.photo').photo.img-thumbnail.img-responsive(ng-src='{{dog.photo}}')
				
